<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Блог</title>
</head>
<body>
    <h1>Запрацював бложик</h1>
    {% if posts %}
        {% for post in posts %}
            <h3>{{ post.title }}</h3>
            <h6>{{ post.created_at }}</h6>
            <div>{{ post.text }}</div>
            <br><br><br>
        {% endfor %}
    {% endif %}
</body>
</html>