<footer class="page-footer teal lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l8 s12">
        <div id="map"></div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2024 CS50x Final Project | Arsenii Stratiuk
    </div>
  </div>
</footer>

<script> 

  var map = L.map('map').setView([
  42.37594601311799,
  -71.11489226989667
], 16);
var Stadia_AlidadeSmoothDark = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
maxZoom: 19,
attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
});

Stadia_AlidadeSmoothDark.addTo(map);

var marker = L.marker([42.37594601311799,
                       -71.11489226989667]).addTo(map);
marker.bindPopup("<strong>Memorial Hall (Harvard University)</strong>")

//Відображення об'єктів згенерованих на сайті https://geojson.io/
var coords = {
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {},
      "geometry": {
        "coordinates": [
          [
            -71.11630600535952,
            42.37586738334787
          ],
          [
            -71.11573679733009,
            42.376227140291945
          ],
          [
            -71.11429164138926,
            42.376535501746304
          ],
          [
            -71.11420942245178,
            42.37649111647832
          ],
          [
            -71.1143359131245,
            42.37583935025248
          ],
          [
            -71.11446872833194,
            42.375687504102984
          ],
          [
            -71.11461103033888,
            42.37565479873061
          ],
          [
            -71.11630692201993,
            42.3758670413813
          ]
        ],
        "type": "LineString"
      }
    }
  ]
}
L.geoJSON(coords).addTo(map); 
</script>