{% extends 'navbar.html' %}
{% block content %}
{% load static %}

    <head>
        <link rel="stylesheet" href="{% static 'login.css' %}">
    </head>

    <section>
        <div class="form-box">
            <div class="form-value">
                <form method="POST" action='{% url 'login' %}'>
                    {% csrf_token %}
                    <h2>Login</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="text" name='username' required>
                        <label for="username">Ім'я</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name='password' required>
                        <label for="password">Пароль</label>
                    </div>
                    
                    <button type="submit">Увійти</button>
                    <div class="register">
                        <p>Не зареєстровані?  <a href="{% url 'register' %}">Зареєструватися</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        window.onload = function() {
            window.scrollTo(0, document.body.scrollHeight);
        }
    </script>

{% endblock %}