{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper teal lighten-2 z-depth-1">
            <div class="container">
              <a href="/" class="brand-logo">Головна</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/admin">Admin</a></li>
                <li><a href="/register">Зареєструватися</a></li>
              </ul>
            </div>  
          </div>
        </nav>
      </div>
      <br>
      {% block content %}
      {% endblock %}

      {% block footer %}
      {% endblock%}
    </body>
</html>