{% extends 'navbar.html' %}

    {% block content %}
    <br>
    
    {% if post %}
        <div class="row">
            <div class="col s12 l12">
                <div class="card">
                    <div class="card-content">
                        <span text-align="center" display="block">
                            <img class="center-align responsive-img" src="/{{ post.img }}">
                        </span>
                        <br><br>
                        <span class="card-title">
                            <a class="teal-text text-lighten-2" href="/"><strong>{{ post.title }}</strong></a>
                        </span>
                        <div class='row'>
                            <div class="col s6 l6">
                                <h6><strong>Переглянуто: {{ views_num }}</strong></h6>
                            </div>
                            <div class="col s6 l6">
                                {% if user.is_authenticated %}
                                    <form id="like" action="{% url 'like_post' post.id %}" method="GET">
                                    </form>
                                {% endif %}
                                <button form="like" type="submit" class="btn-floating waves-effect waves-light red">
                                    {% if is_liked %}
                                        <i class="medium material-icons">favorite</i>
                                    {% else %}
                                        <i class="medium material-icons">favorite_border</i>
                                    {% endif %}
                                </button>
                                <h6><strong>{{ likes_num }} Like{{ likes_num|pluralize }}</strong></h6>
                            </div>
                        </div>                            
                        <h6>{{ post.created_at }}</h6>
                        <div class="card-content">{{ post.text }}</div>
                        <br><br>
                    </div>
                </div>
            </div>
            {% include "sidebar.html" %}
        </div>
        <div class="row">
        {% if user.is_authenticated %}
    <div class="container">
            <div class="row">
                <form method="POST">
                    {% csrf_token %} 
                    {{ comment_form.as_p }}
                    <button class="btn" type="submit">Опублікувати</button>
                </form>
            </div>
        {% endif %}
        <br><br>
        {% for comment in comments %}
        <div class="card-panel blue-grey lighten-4">
            <div class="row">
                <div class="col s4 l2">
                   <img src="/{{comment.author.profile.avatar}}" class="circle responsive-img">
                </div>
                <div class="col s8 l10">
                    <p>{{ comment }}</p>
                    <p>{{ comment.created_at }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}
    
{% endblock %}